@model AssignmentFPTBook.Models.Account


@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (ViewBag.Success != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Success");
        window.location = '/';
    };
    </script>
}

<section class="register-photo" style="margin-top: 55px; background-image: url('https://i.imgur.com/3RZzmca.jpg'); background-size: 100% ">
    <div class="form-container">

        @using (Html.BeginForm("ChangePass", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @style = "background: #EFE1C1;border-radius:50px" }))
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <h2 class="text-center">Change password</h2>


            <div class="form-group">
                @Html.PasswordFor(u => u.CurrentPassword, new { @class = "form-control form-control-lg", @placeholder = "Enter current password", @autofocus = "", @required = "", @style = "margin-bottom: 25px;background: rgb(237,240,245);color: rgb(0,0,0);border-radius:20px;box-shadow: 15px 8px 15px #9A968A" })
                @if (ViewBag.Error != null)
                {
                    <p class="text-danger">@ViewBag.Error</p>
                }
            </div>


            <div class="form-group">
                @Html.PasswordFor(u => u.NewPassword, new { @class = "form-control form-control-lg", @placeholder = "Enter new password", @required = "", @style = "margin-bottom: 25px;background: rgb(237,240,245);color: rgb(0,0,0);border-radius:20px;box-shadow: 15px 8px 15px #9A968A" })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.PasswordFor(u => u.ConfirmNewPassword, new { @class = "form-control form-control-lg", @placeholder = "Confirm new password", @required = "", @style = "margin-bottom: 5px;background: rgb(237,240,245);color: rgb(0,0,0);border-radius:20px;box-shadow: 15px 8px 15px #9A968A" })
                @if (ViewBag.Confirm != null)
                {
                    <p class="text-danger">@ViewBag.Confirm</p>
                }

            </div>





            <input class="btn btn-primary" type="submit" value="Update" style="width: 109.2375px; margin-right: 13px; background: rgb(158,20,170); border-radius: 25px; box-shadow: 10px 5px 15px #000 " />

            <a class="btn btn-primary" role="button" style="width: 109.2375px; background: rgb(251,0,52); border-radius: 25px; box-shadow: 10px 5px 15px #000 " href="@Url.Action("UpdateAccount", "Account")">Cancel</a>

        }
    </div>
</section>