@model AssignmentFPTBook.Models.Account

@{
    ViewBag.Title = "Update Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="register-photo" style="margin-top: 55px;">
    <div class="form-container">

        @using (Html.BeginForm("UpdateAccount", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @style = "background: rgb(235,224,224);" }))
        {
            @Html.AntiForgeryToken()

            <h2 class="text-center">Update information</h2>


            <div class="form-group">

                @Html.TextBoxFor(u => u.Username, new { @class = "form-control form-control-lg", @readonly = "", @style = "margin-bottom: 5px;background: rgb(198,199,201);color: rgb(0,0,0);" })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>


            <div class="form-group">

                @Html.TextBoxFor(u => u.Fullname, new { @class = "form-control form-control-lg", @placeholder = "Fullname", @autofocus = "", @required = "", @style = "margin-bottom: 5px;background: rgb(237,240,245);color: rgb(0,0,0);" })
                @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "text-danger" })
            </div>

            @*<div class="form-group">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.PasswordFor(u => u.Password, new { @class = "form-control form-control-lg", @placeholder = "Fullname", @autofocus = "", @required = "", @style = "margin-bottom: 5px;background: rgb(237,240,245);color: rgb(0,0,0);" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>*@


            <div class="form-group">

                @Html.TextBoxFor(u => u.Email, new { @class = "form-control form-control-lg", @placeholder = "Email", @required = "", @style = "margin-bottom: 5px;background: rgb(237,240,245);color: rgb(0,0,0);" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>


            <div class="form-group">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.TextBoxFor(u => u.Phone, new { @class = "form-control form-control-lg", @placeholder = "Phone number", @required = "", @style = "margin-bottom: 5px;background: rgb(237,240,245);color: rgb(0,0,0);" })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>


            <div class="form-group">

                @Html.TextAreaFor(u => u.Address, new { @class = "form-control form-control-lg", @placeholder = "Address", @required = "", @style = "margin-bottom: 5px;background: rgb(237,240,245);color: rgb(0,0,0);" })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>


            <input class="btn btn-primary" type="submit" value="Update" style="width: 109.2375px;margin-right: 13px;background: rgb(158,20,170);" />
            <a class="btn btn-primary" role="button" style="width: 176.2375px;margin-right: 13px;" href="@Url.Action("ChangePass", "LoggedIn")">Change Password</a>
            <a class="btn btn-primary" role="button" style="width: 109.2375px;background: rgb(251,0,52);" href="@Url.Action("Index", "Home")">Cancel</a>

        }
    </div>
</section>