@model IEnumerable<AssignmentFPTBook.Models.Book>

@{
    ViewBag.Title = "Home Page";
}

@if (ViewBag.Success != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Success");
    };
    </script>
}



<header class="masthead" style="background-image: url('../../img/background.png'); ">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><span style="font-weight: bold;">Welcome To</span></div>
            <div class="intro-heading text-uppercase"><span class="text-capitalize text-warning">FPT books store</span></div>
        </div>
    </div>
</header>


<section class="bg-light" id="portfolio" style="padding-top: 63px;padding-bottom: 12px;">
    <div class="container">

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-2 offset-xxl-6 portfolio-item">
                    <a class="portfolio-link" href="@Url.Action("BookDetail", "Home", new { id = item.BookID})">

                        @*<img class="img-fluid" src="~/img/products/Cafe cung Tony.png">*@
                        <span class="hovertext" data-hover="@item.BookName"><img class="img-fluid" src="~/Image/@item.UrlImage" /></span>
                    </a>
                    <div class="portfolio-caption">
                        <p class="text-muted" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">@item.BookName</p>
                        <h5>@item.Price $</h5>
                        <a href="@Url.Action("AddtoCart","ShoppingCart", new {id = item.BookID})"><img src="~/img/cart button.jpg" height="20%" width="80%" /></a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

