@model AssignmentFPTBook.Models.Order
@{
    ViewBag.Title = "Order Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="text-center" style="margin-top: 5%;text-align: center;font-size: 32px;">
    Order details <br />

    @Html.ActionLink("Back", "OrderHistory", "ShoppingCart", new { id = Session["Username"] }, new { @class = "btn btn-success", @style = "border-radius:20px;width:150px" })
</h1>

<ul class="list-group" style="margin-right: 15%;margin-left: 15%;margin-bottom: 2%;">
    <li class="list-group-item"><span><b>Name:</b> <span style="font-size:23px">@Model.Account.Fullname</span></span></li>
    <li class="list-group-item"><span><b>Delivery address:</b> <span style="font-size:23px">@Model.Address</span></span></li>
    <li class="list-group-item"><span><b>Phone number:</b> <span style="font-size:23px">@Model.Phone</span></span></li>
    <li class="list-group-item"><span><b>Order date:</b> <span style="font-size:23px">@Model.OrderDate</span></span></li>
    <li class="list-group-item"><span><b>Order status:</b> <span style="font-size:23px">@Model.OrderStatus</span></span></li>
</ul>
<div class="table-responsive text-center" style="margin-right: 15%;margin-left: 15%;">
    <table class="table table-hover">
        <thead>

            <tr>
                <th style="background: #e8b7b7;">Image</th>
                <th class="text-center" style="background: #d9d3d3;">Book name</th>
                <th class="text-center" style="background: #ef9b9b;">Price</th>
                <th style="background: #e7bcbc;">Quantity</th>
                <th style="background: #c8aeae;">Total price</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model.OrderDetails)
            {
                <tr>
                    <td><img style="width: 70px;height: 80px;" src="~/Image/@item.Book.UrlImage"></td>
                    <td class="text-center">@item.Book.BookName<br></td>
                    <td class="text-center">$ @item.Book.Price</td>
                    <td style="width: 108.6px;">@item.Quantity</td>
                    <td>$ @item.AmountPrice</td>
                </tr>
            }
            <tr>
                <td colspan="4" style="font-size: 26px;text-align: right;font-weight: bold;background: #f1e3e3;">Total:</td>
                <td colspan="1" style="font-weight: bold;font-size: 23px;">$ @Model.TotalPrice</td>
            </tr>
        </tbody>
    </table>
</div>


