@model AssignmentFPTBook.Models.Cart

@{
    ViewBag.Title = " Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{
    <h1 class="text-center" style="margin-top: 5%;text-align: center;font-size: 32px;">Cart</h1>
    @Html.ActionLink("Continue shopping", "Index", "Home", null, new { @class = "btn btn-outline-secondary", @style = "margin-left:5%;" })
    <div class="table-responsive text-center" style="margin-top: 30px;margin-bottom: 21px;">
        <table class="table">
            <thead>
                <tr>
                    <th>Delete</th>
                    <th style="background: #d9d3d3;">Image</th>
                    <th class="text-center" style="background: #d9d3d3;">Book name</th>
                    <th class="text-center" style="background: #d9d3d3;">Price</th>
                    <th style="background: #e7bcbc;">Quantity</th>
                    <th style="background: #c8aeae;">Sum</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    double total = item._shopping_product.Price * item._shopping_quantity;

                    <tr>
                        <td>
                            <div>
                                <a href="@Url.Action("Delete", "ShoppingCart", new {id=item._shopping_product.BookID})">
                                    <i class="fa fa-remove" style="color: rgb(3,3,3);font-size: 19px;"></i>
                                </a>
                            </div>
                        </td>

                        <td><img src="~/Image/@Url.Content(item._shopping_product.UrlImage)" style="width: 70px;height: 80px;"></td>

                        <td class="text-center">@Html.DisplayFor(model => item._shopping_product.BookName)</td>

                        <td class="text-center">@Html.DisplayFor(model => item._shopping_product.Price) $</td>

                        <td>
                            @using (Html.BeginForm("UpdateQuantity", "ShoppingCart"))
                            {
                                <div style="width: 100%">
                                    <input type="hidden" value="@item._shopping_product.BookID" name="ID_Product" />
                                    <input type="number" style="width: 90px;" value="@item._shopping_quantity" name="Quantity" min="1" />
                                </div>

                                <div style="width: 100%;">
                                    <input type="submit" class="btn btn-primary" style="margin-top: 10px;background: rgb(149,129,61);" value="Update" />
                                </div>
                            }
                        </td>
                        <td>@total $</td>
                    </tr>
                }

                <tr>

                    <td colspan="5" rowspan="2" style="font-size: 26px;text-align: right;font-weight: bold;">Total:</td>

                    <td style="font-weight: bold;font-size: 23px;">@Model.TotalPrice() $</td>
                </tr>
                <tr>
                    <td><a href="#Checkout" class="btn btn-success">Checkout</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <section class="register-photo" style="margin-top: -35px; background-image:none" id="Checkout">
        <div class="form-container">

            @using (Html.BeginForm("Checkout", "ShoppingCart", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @style = "background: rgb(212, 240, 209);" }))
            {
                <h2 class="text-center">Checkout information</h2>
                <p style="color:red; margin-top:-5%">(*)<i> Required</i></p>
                <div class="mb-3">
                    <label class="form-label" style="color: rgb(7,7,7);font-weight: bold;">Delivery address <span style="color:red">(*)</span></label>
                    <input class="form-control" type="text" style="background: rgb(243, 250, 242); margin-bottom: 14px; color: rgb(0,0,0); " name="cAddress" placeholder="Enter Delivery address" required />

                    <label class="form-label" style="color: rgb(7,7,7);font-weight: bold;">Phone number <span style="color:red">(*)</span></label>
                    <input class="form-control" type="text" style="background: rgb(243, 250, 242); color: rgb(0,0,0); " name="cPhone" placeholder=" Enter Phone number" required>

                    <label class="form-label" style="color: rgb(7,7,7);font-weight: bold;">Username</label>
                    <input class="form-control" type="text" style="background: rgb(203, 222, 202); margin-bottom: 14px; color: rgb(0,0,0); " name="cUsername" value="@Session["Username"]" readonly>

                    <label class="form-label" style="color: rgb(7,7,7);font-weight: bold;">Total price ($ )</label>
                    <input class="form-control" type="text" style="background: rgb(203, 222, 202); color: rgb(0,0,0); " name="cTotalPrice" value="@Model.TotalPrice()" readonly="">
                </div>
                <div>
                    <button class="btn btn-primary" type="submit" style="margin-top: 9px;width: 120px;background: rgb(32,129,48);">Order</button>
                    <a class="btn btn-primary" role="button" style="margin-top: 9px;margin-left: 21px;width: 120px;background: rgb(248,18,4);" href="@Url.Action("Index","Home")">Cancel</a>
                </div>
            }

            @*</form>*@
        </div>
    </section>
}

