<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FPT Books - @ViewBag.Title</title>
    <link rel="shortcut icon" href="~/img/bookLogo.png" />

    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akaya+Kanadaka&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akaya+Telivigala&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aladin&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alata&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amarante&amp;display=swap">
    <link rel="stylesheet" href="~/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/fonts/fontawesome5-overrides.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: rgb(0,0,0);font-family: Aclonica, sans-serif;transform: perspective(0px);">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="index.html" style="transform: perspective(0px);filter: blur(0px) brightness(200%) contrast(200%) saturate(200%);font-family: 'Abril Fatface', serif;">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text mx-3"><span style="color: rgb(200,247,12);font-size: 20px;text-align: center;font-family: 'Akaya Telivigala', serif;font-weight: bold;border-color: rgb(204,255,0);">FPT Book - Admin</span></div>
                </a>
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Categories")"><i class="fas fa-th-list"></i><span>Category Management</span></a>

                        <a class="nav-link" href="@Url.Action("Index", "Authors")">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-people-fill">
                                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                                <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"></path>
                                <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"></path>
                            </svg>   Author Management
                        </a>

                        <a class="nav-link" href="@Url.Action("Index", "Books")"><i class="fas fa-book-open"></i><span>Book Management</span></a>

                        <a class="nav-link" href="Feedback.html"><i class="fas fa-table"></i><span>Feedback Management</span></a>

                        <a class="nav-link" href="Order.html"><i class="fas fa-book-reader"></i><span>Orders Management</span></a>
                        <a class="nav-link" href="Revenue.html"><i class="fa fa-pie-chart"></i><span>Revenue Management</span></a>

                        <a class="nav-link" href="@Url.Action("ViewUserList", "AdminAccount")"><i class="fas fa-user-alt"></i><span>User Management</span></a>


                        <a class="nav-link" href="Revenue.html" style="margin-top:70%"><i class="far fa-user-circle"></i><span>Profile</span></a>
                        <a class="nav-link" href="@Url.Action("Logout","Account")"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>
                    </li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
                <div class="text-center d-none d-md-inline"></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="background: #ffffff;">
                <nav class="navbar navbar-light navbar-expand bg-dark bg-gradient shadow mb-4 topbar static-top" style="background: rgb(208,135,135);">
                    <div class="container-fluid">
                        <button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="navbar-nav flex-nowrap ms-auto">

                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow">
                                    <b class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                                        <span class="d-none d-lg-inline me-2 text-gray-600 small" style="color: rgb(93,244,1);">
                                            Hello Administrator
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-circle" style="font-size: 29px;margin-left: 6px;color: rgb(200,248,6);">
                                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
                                            </svg>
                                        </span>
                                    </b>

                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

                @RenderBody();


            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span><br><strong>Copyright &copy; @DateTime.Now.Year - FPT Books - Developed by Luu Hoai Phong GCC19022 - University of Greenwich</strong><br><br></span></div>
                </div>
            </footer>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>