

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FPT Books - @ViewBag.Title</title>
    <link rel="shortcut icon" href="~/img/bookLogo.png" />


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <link href="~/Content/Registration-Form-with-Photo.css" rel="stylesheet" />
    <link href="~/Content/Login-Form-Dark.css" rel="stylesheet" />
    <link href="~/Content/Footer-Dark.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome.min.css" rel="stylesheet" />
    <link href="~/fonts/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/fonts/ionicons.min.css" rel="stylesheet" />
    <link href="~/fonts/fontawesome5-overrides.min.css" rel="stylesheet" />


    <style>
        .hovertext {
            position: relative;
            border-bottom: 1px dotted black;
        }

            .hovertext:before {
                content: attr(data-hover);
                visibility: hidden;
                opacity: 0;
                width: 100%;
                background-color: #ffe100;
                color: black;
                text-align: center;
                font-weight: bold;
                word-break: break-all;
                border-radius: 5px;
                padding: 5px 0;
                transition: opacity 1s ease-in-out;
                position: absolute;
                z-index: 1;
                left: 0;
                top: 110%;
            }

            .hovertext:hover:before {
                opacity: 1;
                visibility: visible;
            }
    </style>

</head>
<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav" style="background: #001100; padding-top: 3px; padding-bottom: 5px;">
        <div class="container-fluid">
            <a class="navbar-brand" data-bss-hover-animate="tada" href="@Url.Action("Index","Home")" style="font-weight: bold;text-shadow: -4px 11px 8px;font-size: 30px;filter: contrast(185%) grayscale(15%) saturate(173%);">FPTBooks</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav me-auto text-uppercase">
                    <li class="nav-item"><a class="nav-link active" data-bss-hover-animate="rubberBand" href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" data-bss-hover-animate="pulse" href="#">Category</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("CategoryView","Home", new {id = "Ca01"})">Novel</a>
                            <a class="dropdown-item" href="@Url.Action("CategoryView","Home", new {id = "Ca02"})">Comic</a>
                            <a class="dropdown-item" href="@Url.Action("CategoryView","Home", new {id = "Ca03"})">Magazine</a>
                            <a class="dropdown-item" href="@Url.Action("CategoryView","Home", new {id = "Ca04"})">Autobiography</a>
                            <a class="dropdown-item" href="@Url.Action("CategoryView","Home", new {id = "Ca05"})">Thriller</a>
                            <a class="dropdown-item" href="@Url.Action("CategoryView","Home", new {id = "Ca06"})">Short story</a>
                            <a class="dropdown-item" href="@Url.Action("CategoryView","Home", new {id = "Ca07"})">Nonfiction</a>
                            <a class="dropdown-item" href="@Url.Action("CategoryView","Home", new {id = "Ca08"})">Romance</a>
                            <a class="dropdown-item" href="@Url.Action("CategoryView","Home", new {id = "Ca09"})">Action and Adventure</a>
                            <a class="dropdown-item" href="@Url.Action("CategoryView","Home", new {id = "Ca10"})">Horror</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" href="@Url.Action("ContactUs","Home")">Contact Us</a></li>


                </ul>





                <ul class="navbar-nav">
                    @if (Session["Username"] != null)
                    {
                        <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" href="@Url.Action("OrderHistory", "ShoppingCart", new {id=Session["Username"]})">Order history</a></li>
                        <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" href="@Url.Action("SendFeedback", "Account")">Send feedback</a></li>

                        <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" href="@Url.Action("ShowToCart", "ShoppingCart")">Cart (@Html.Action("BagCart", "ShoppingCart"))</a></li>

                        <li class="nav-item" data-bss-hover-animate="pulse">@Html.ActionLink("Hello, " + Session["Username"], "UpdateAccount", "Account", null, new { @class = "nav-link" })</li>
                        <li class="nav-item" data-bss-hover-animate="pulse">@Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" href="@Url.Action("ShowToCart", "ShoppingCart")">Cart (@Html.Action("BagCart", "ShoppingCart"))</a></li>
                        <li class="nav-item" data-bss-hover-animate="tada">@Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
                        <li class="nav-item" data-bss-hover-animate="tada">@Html.ActionLink("Sign up", "SignUp", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
                    }
                </ul>

                @using (Html.BeginForm("Search", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                {
                    @Html.TextBox("Search", "", new { placeholder = "Search...", @style = "border-radius:10px 20px 20px 10px; padding-left:10px" });

                    <button type="submit" style="background-color: #fff; border: none; margin-left: -42px; border-radius: 100%"><img src="~/img/search.png" style="height: 25px; width: 25px; border-radius: 100%" /></button>
                }

            </div>
        </div>
    </nav>

    @RenderBody()
    <footer class="footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Contacts</h3>
                    <ul>
                        <li><b><u>Phone</u>:</b> 0398371050</li>
                        <li><b><u>Mail</u>:</b> phonglhgcc19022@fpt.edu.vn</li>
                        <li><b><u>Address</u>:</b> 160, 30/4 Street, An Phu Ward, Ninh Kieu District, Can Tho city</li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Quick links</h3>
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li><a href="@Url.Action("ContactUs","Home")">Contact us</a></li>


                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <a href="@Url.Action("Index","Home")">
                        <img data-bss-hover-animate="rubberBand" src="~/img/logo.png">
                    </a>
                </div>
                <div class="col item social">
                    <a data-bss-hover-animate="tada" href="https://www.facebook.com/richard.luu.19022" target="_blank">
                        <i class="icon ion-social-facebook"></i>
                    </a>
                    <a data-bss-hover-animate="tada" href="https://github.com/luuhoaiphong" target="_blank">
                        <i class="icon ion-social-github"></i>
                    </a>
                    <a data-bss-hover-animate="tada" href="https://www.youtube.com/channel/UCeFFdVM0SBLn46YM77snhUQ" target="_blank">
                        <i class="icon ion-social-youtube"></i>
                    </a>
                    <a data-bss-hover-animate="tada" href="#">
                        <i class="icon ion-social-instagram"></i>
                    </a>
                </div>
            </div>
            <p class="copyright" style="color: rgb(125,244,6);font-size: 15px;font-weight: bold;">
                Copyright &copy; @DateTime.Now.Year - FPT Books - <a href="https://www.facebook.com/richard.luu.19022" target="_blank">
                    Developed by
                    <i>Luu Hoai Phong GCC19022</i>
                </a> - <a href="https://www.facebook.com/GreenwichVietnam" target="_blank">University of Greenwich</a>
            </p>
        </div>
    </footer>

    <button onclick="topFunction()" id="myBtn" title="Go to top"
            style="display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            border: none;
            outline: none;
            background-color: black;
            color: white;
            cursor:pointer;
            padding: 7px;
            border-radius: 25px;
            font-size: 30px; ">
        🔝
    </button>

    <script>
        mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>

    <script src="~/Scripts/agency.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bs-init.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>

