@model AssignmentFPTBook.Models.Book

@{
    ViewBag.Title = "Delete Book";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2 class="text-center text-primary" style="font-weight: bold;">Details</h2>

<ul class="list-group" style="margin-left: 5%;margin-right: 5%;border-radius: 23px;">
    <li class="list-group-item">
        <div>
            <label class="form-label" style="font-weight: bold;text-decoration:  underline;">@Html.DisplayNameFor(model => model.BookID)</label>
        </div>

        <span style="margin-left: 5%;font-size: 19px;">@Html.DisplayFor(model => model.BookID)</span>
    </li>
    <li class="list-group-item">
        <div>
            <label class="form-label" style="font-weight: bold;text-decoration:  underline;">@Html.DisplayNameFor(model => model.BookName)</label>
        </div>

        <span style="margin-left: 5%;font-size: 19px;">@Html.DisplayFor(model => model.BookName)</span>
    </li>
    <li class="list-group-item">
        <div>
            <label class="form-label" style="font-weight: bold;text-decoration:  underline;">@Html.DisplayNameFor(model => model.Category.CategoryName)</label>
        </div>

        <span style="margin-left: 5%;font-size: 19px;">@Html.DisplayFor(model => model.Category.CategoryName)</span>
    </li>

    <li class="list-group-item">
        <div>
            <label class="form-label" style="font-weight: bold;text-decoration:  underline;">@Html.DisplayNameFor(model => model.Author.AuthorName)</label>
        </div>

        <span style="margin-left: 5%;font-size: 19px;">@Html.DisplayFor(model => model.Author.AuthorName)</span>
    </li>

    <li class="list-group-item">
        <div>
            <label class="form-label" style="font-weight: bold;text-decoration:  underline;">@Html.DisplayNameFor(model => model.Quantity)</label>
        </div>

        <span style="margin-left: 5%;font-size: 19px;">@Html.DisplayFor(model => model.Quantity)</span>
    </li>

    <li class="list-group-item">
        <div>
            <label class="form-label" style="font-weight: bold;text-decoration:  underline;">@Html.DisplayNameFor(model => model.Price)</label>
        </div>

        <span style="margin-left: 5%;font-size: 19px;">@Html.DisplayFor(model => model.Price)</span>
    </li>

    <li class="list-group-item">
        <div>
            <label class="form-label" style="font-weight: bold;text-decoration:  underline;">@Html.DisplayNameFor(model => model.DetailDesc)</label>
        </div>

        <span style="margin-left: 5%;font-size: 19px;">@Html.DisplayFor(model => model.DetailDesc)</span>
    </li>

    <li class="list-group-item">
        <div>
            <label class="form-label" style="font-weight: bold;text-decoration:  underline;">@Html.DisplayNameFor(model => model.UrlImage)</label>
        </div>

        <img src="~/Image/@Model.UrlImage" height="150px" width="100px" style="margin-left: 5%" />
    </li>


    <li class="list-group-item">
        <div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Delete" class="btn btn-primary btn-lg" style="margin-left: 20%;width: 120px;" onclick="return confirm('Are you sure?');" />
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger btn-lg", @style = "margin-left: 2%; width: 120px; " })
            }
        </div>
    </li>
</ul>








<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrlImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetailDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailDesc)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
