@model IEnumerable<AssignmentFPTBook.Models.Book>


@*@using AssignmentFPTBook.Helper*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="container-fluid">
    <div class="card shadow" style="box-shadow: 0px 0px;">
        <div class="card-header py-3">
            <p class="text-center text-primary m-0 fw-bold" style="font-size: 24px;">Books Management</p>
            <div style="padding-left: 43%;">
                @Html.ActionLink("Add new book", "Create", null, new { @class = "btn btn-primary", @style = "width: 172.6875px;margin-top: 10px;" })
            </div>
        </div>
        <div class="card-body" style="border-style: ridge;border-radius: 19px;filter: contrast(56%);">
            <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                <table class="table table-striped table-hover my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th style="width: 130.4px; text-align: center;">@Html.DisplayNameFor(model => model.BookID)</th>
                            <th style="text-align: center;">@Html.DisplayNameFor(model => model.BookName)</th>
                            <th style="text-align: center;">@Html.DisplayNameFor(model => model.Quantity)</th>
                            <th style="text-align: center;">@Html.DisplayNameFor(model => model.Price)</th>
                            <th style="text-align: center;">@Html.DisplayNameFor(model => model.UrlImage)</th>
                            <th style="text-align: center;">@Html.DisplayNameFor(model => model.CategoryID)</th>
                            <th style="text-align: center;">@Html.DisplayNameFor(model => model.AuthorID)</th>

                            <th style="text-align: center;">Detail</th>
                            <th style="text-align: center;">Edit</th>
                            <th style="text-align: center;">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="text-align: center;color: rgb(0,0,0);font-weight: bold;">@Html.DisplayFor(modelItem => item.BookID)</td>
                                <td style="text-align: center;color: rgb(0,0,0);font-weight: bold;">@Html.DisplayFor(modelItem => item.BookName)</td>
                                <td style="text-align: center;color: rgb(0,0,0);font-weight: bold;">@Html.DisplayFor(modelItem => item.Quantity)</td>
                                <td style="text-align: center;color: rgb(0,0,0);font-weight: bold;">@Html.DisplayFor(modelItem => item.Price)</td>
                                <td style="text-align: center;color: rgb(0,0,0);font-weight: bold;">
                                    <div>
                                        @*<img src="@Html.DisplayFor(modelItem => item.UrlImage)" style="width: 80px;" loading="eager" width="80px" height="100px">*@
                                        <img src="~/Image/Cafecungtony2.jpg" style="width: 80px;" loading="eager" width="80px" height="100px" />

                                        @*@Html.Image(item.Image, "image", new { width = "80px", height = "100px" })*@
                                    </div>
                                </td>
                                <td style="text-align: center;color: rgb(0,0,0);font-weight: bold;">@Html.DisplayFor(modelItem => item.CategoryID)</td>
                                <td style="text-align: center;color: rgb(0,0,0);font-weight: bold;">@Html.DisplayFor(modelItem => item.AuthorID)</td>

                                <td style="text-align: center;">
                                    <div>@Html.ActionLink(" ", "Details", new { id = item.BookID }, new { @class = "fas fa-info-circle", @style = "font-size: 20px;color: rgb(1,1,1);" })</div>
                                </td>
                                <td style="text-align: center;">
                                    <div>@Html.ActionLink(" ", "Edit", new { id = item.BookID }, new { @class = "fas fa-edit", @style = "font-size: 20px;color: rgb(1,1,1);" })</div>
                                </td>
                                <td style="text-align: center;">
                                    <div>@Html.ActionLink(" ", "Delete", new { id = item.BookID }, new { @class = "fas fa-trash", @style = "font-size: 20px;color: rgb(1,1,1);" })</div>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>











